.question {
  .title{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .controll-btn{
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #806497;
    border-color: gainsboro;
    width: 80%;
  }
  .controll-btn1{
    background-color: white;
    border-color: gainsboro;
    front-color: black;
    width: 80%;
  }
  .options-wrapper{
    margin-top: 30px;
    front-size: 10px;
  }
}
