.index {
  background-image: url('../../assets/home.jpg');
  background-size: cover; /* 背景图片覆盖整个容器 */
  background-position: center center; /* 居中显示 */
  background-repeat: no-repeat; /* 不重复背景图片 */
  min-height: 100vh; /* 最小高度为视口高度 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;

  .at-article__h2,
  {
    text-align: center;
    margin-top: 80px;
    color: #806497;
  }
  .at-article__h3{
    margin-top: 40px;
    color: #806497;
  }
  .primary-btn {
    margin-top: 100px;
    background-color: #806497;
    border-color: #806497;
  }
}
